:root {
  --mainColor: #152028;
  --secondaryColor: #192734;
  --borderColor: #164056;
  --mainText: #fff;
  --secondaryText: #eee;
  --shadow: -1px -1px 3px -1px rgba(0, 0, 0, 0.75);
  --themeDotBorder: #fff;
  --previewBg: rgb(25, 39, 52, 0.8);
  --previewShadow: #111921;
  --buttonColor: #17a2b8;
}
